In [5]:
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [11]:
from pandas import DataFrame

In [7]:
data = pd.read_csv('wine_quality.csv')

In [8]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide
0,6.6,0.500,0.01,1.5,0.060,17.0,26
1,7.9,0.650,0.01,2.5,0.078,17.0,38
2,6.7,0.750,0.01,2.4,0.078,17.0,32
3,5.3,0.570,0.01,1.7,0.054,5.0,27
4,6.8,0.510,0.01,2.1,0.074,9.0,25
...,...,...,...,...,...,...,...
1462,12.0,0.370,0.76,4.2,0.066,7.0,38
1463,15.6,0.685,0.76,3.7,0.100,6.0,43
1464,5.6,0.310,0.78,13.9,0.074,23.0,92
1465,13.5,0.530,0.79,4.8,0.120,23.0,77
1466,9.2,0.520,1.00,3.4,0.610,32.0,69

In [9]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide
count,1467.000000,1467.000000,1467.000000,1467.000000,1467.000000,1467.000000,1467.000000
mean,8.438582,0.513033,0.295358,2.565815,0.087835,15.926380,47.768916
std,1.748852,0.171945,0.184819,1.449658,0.048318,10.438805,33.585820
min,4.600000,0.120000,0.010000,0.900000,0.012000,1.000000,6.000000
25%,7.200000,0.380000,0.140000,1.900000,0.071000,7.000000,23.000000
50%,8.000000,0.500000,0.280000,2.200000,0.079000,14.000000,39.000000
75%,9.400000,0.620000,0.440000,2.600000,0.090000,22.000000,65.000000
max,15.900000,1.240000,1.000000,15.500000,0.611000,72.000000,289.000000

In [38]:
x = DataFrame(data, columns=['fixed acidity'])

In [39]:
y = DataFrame(data  ,columns=['residual sugar'])

In [2]:
plt.scatter(x,y,alpha = 0.3)
plt.ylim(0,7)
plt.xlim(0,20)
plt.title('Wine_quality_graph')
plt.xlabel('fixed acidity')
plt.ylabel('residual sugar')
plt.show()
plt.figure(figsize=(5,5))

NameError: name 'plt' is not defined