In [2]:
myAge =32
print(myAge)

32

#updating

In [3]:
myAge = 98
print(myAge)

98

In [4]:
myAge += 1       #adding one to myAge
print(myAge)

99

In [5]:
type(88)

int

In [6]:
type(77.8)

float

In [9]:
type('jg')

str

In [12]:
type('p')

str

In [13]:
type(myAge)

int

# 1 collection (losts of data)

In [15]:
primeNum = [2,3,5,7]
type(primeNum)

list

In [16]:
coolpeople = ['jay',45,'kio',455,45]
type(coolpeople)

list

In [17]:
a = coolpeople[3]
print(a)

455

# Array  simmilar type of data should be stored

In [35]:
import pandas as pd
data = pd.read_csv('movie_revenue.csv')

In [36]:
print(data)

      Production Budget ($)  Worldwide Gross ($)
0                  600000.0         2.600000e+01
1                  600000.0         4.010000e+02
2                  600000.0         4.230000e+02
3                  600000.0         4.500000e+02
4                  600000.0         5.270000e+02
...                     ...                  ...
5029            275000000.0         1.519480e+09
5030            300000000.0         1.671641e+09
5031            300000000.0         2.058662e+09
5032            306000000.0         2.207616e+09
5033            425000000.0         2.783919e+09

[5034 rows x 2 columns]

In [37]:
type(data)

pandas.core.frame.DataFrame

In [38]:
a = data['Production Budget ($)']
print(a)

0          600000.0
1          600000.0
2          600000.0
3          600000.0
4          600000.0
           ...
5029    275000000.0
5030    300000000.0
5031    300000000.0
5032    306000000.0
5033    425000000.0
Name: Production Budget ($), Length: 5034, dtype: float64

# adding new colimn to dataframe withe 'values'

In [39]:
data['salary'] = 1000

In [40]:
print(data)

      Production Budget ($)  Worldwide Gross ($)  salary
0                  600000.0         2.600000e+01    1000
1                  600000.0         4.010000e+02    1000
2                  600000.0         4.230000e+02    1000
3                  600000.0         4.500000e+02    1000
4                  600000.0         5.270000e+02    1000
...                     ...                  ...     ...
5029            275000000.0         1.519480e+09    1000
5030            300000000.0         1.671641e+09    1000
5031            300000000.0         2.058662e+09    1000
5032            306000000.0         2.207616e+09    1000
5033            425000000.0         2.783919e+09    1000

[5034 rows x 3 columns]

# challenge: multiply production budget to sallary

In [47]:
print(data)

      Production Budget ($)  Worldwide Gross ($)  salary
0                  600000.0         2.600000e+01    1000
1                  600000.0         4.010000e+02    1000
2                  600000.0         4.230000e+02    1000
3                  600000.0         4.500000e+02    1000
4                  600000.0         5.270000e+02    1000
...                     ...                  ...     ...
5029            275000000.0         1.519480e+09    1000
5030            300000000.0         1.671641e+09    1000
5031            300000000.0         2.058662e+09    1000
5032            306000000.0         2.207616e+09    1000
5033            425000000.0         2.783919e+09    1000

[5034 rows x 3 columns]

# chalenge create val x
# print the values of production bugete
# make sure the datatype id dataframe
# show the type of x

In [49]:
x = data[['Production Budget ($)']]
print(x)
type(x)

      Production Budget ($)
0                  600000.0
1                  600000.0
2                  600000.0
3                  600000.0
4                  600000.0
...                     ...
5029            275000000.0
5030            300000000.0
5031            300000000.0
5032            306000000.0
5033            425000000.0

[5034 rows x 1 columns]

pandas.core.frame.DataFrame

In [50]:
del data['Production Budget ($)']

In [51]:
data

      Worldwide Gross ($)  salary
0            2.600000e+01    1000
1            4.010000e+02    1000
2            4.230000e+02    1000
3            4.500000e+02    1000
4            5.270000e+02    1000
...                   ...     ...
5029         1.519480e+09    1000
5030         1.671641e+09    1000
5031         2.058662e+09    1000
5032         2.207616e+09    1000
5033         2.783919e+09    1000

[5034 rows x 2 columns]

# Functions

In [5]:
def get_milk():
    print('open the door')
    print('take milk')
    print('close the door')
    print('comeback')

In [6]:
get_milk()

open the door
take milk
close the door
comeback

In [7]:
def Fill_the_fridge(Amount):
    print("open "+ Amount +"things are there")

In [9]:
Fill_the_fridge('90')

open90things are there

In [10]:
def sum(a,b):
    return a + b

In [11]:
sum(5,6)

11

In [24]:
def code():
    print('i don\'t know')         
                                    # add backslash if sentence containce apostropy
                                    # or usr double inverted commas

In [25]:
code()

i don't know



#